.userPhoto img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.selectedPage {
    font-weight: bold;
    padding-right: 5px;
    cursor: pointer;
}
.pages {
    padding-right: 5px;
    cursor: pointer;
}