
  .content img {
    width: 900px;
    height: 30%;
  
  }
  .avatar img{
    padding-top: 10px;
    width: 200px;
  }
  .descriptionBlock {
    padding: 10px;
  }
  
  .contact {
padding-left: 15px;
  }

  .formSummoryError {
    color: red;
    border: 1px bold red;
  }