.app-wrapper {
  margin: auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-columns: 110px 5fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;
  max-width: 900px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: antiquewhite;
    padding: 0px;   
}




